<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <div id="navbar"></div>
    <div class="container">
      <div class="section">
      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/handlebars-v4.0.11.js"></script>
    <script type="text/javascript" src="js/dexie.js"></script>
    <script type="text/javascript" src="js/app.js"></script>


    <!--========== #TEMPLATES ===========-->
    <script id="navbar-tpl" type="text/x-handlebars-template">
    <nav class="teal lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{appName}}</a>
          <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <li><a></a></li>
            {{#each menu}}
            <li><a id="{{id}}" class="menu-{{id}}">{{label}}</a></li>
            {{/each}}
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    </script>

    <script id="form-tpl" type="text/x-handlebars-template">
    <div class="card">
      <div class="card-content">
        <div class="card-title">{{form}}</div>
        {{#each input}}
        <input type="text" name="{{name}}" placeholder="{{label}}">
        {{/each}}
      </div>
      <div class="card-action right-align">
        {{#if back}}<a class="waves-effect waves-light btn orange btn-back">cancel</a>{{/if}}
        <a class="waves-effect waves-light btn btn-save">save</a>
      </div>
    </div>
    </script>

    <script id="list-tpl" type="text/x-handlebars-template">
      <ul class="collection with-header">
        <li class="collection-header"><h5>{{list}}</h5></li>
        {{#each item}}
        <li class="collection-item" data-id="{{id}}">{{label}}</li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars-template" id="floating-btn-tpl">
      <a class="btn-floating btn-large waves-effect waves-light red right" id={{id}}><i class="material-icons">{{icon}}</i></a>
    </script>

    <!--========== /TEMPLATES ===========-->
  </body>

</html>